/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
	
}

.container {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 5em;
	padding-right: 5em;
}



/* HOMEPAGE */

.mainhomepage {
	background-image: url(../img/bison.png);
}

.homecontainer {
	padding: 1em;
}

.heading {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff
}

.projecttitle {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #ffffff
}

.find {
    padding-top: 1em;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif  
}

ul {
    list-style-type: none;
    line-height: 3em;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Arbutus Slab', serif;
}

/* ---------------------------------------------------- */

@media (max-width: 332px) {

.homecontainer {
	padding: 1em;
}

.heading {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
}

.projecttitle {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #ffffff;
	line-height: 40px;
	margin-top: 80px;
}

.find {
    padding-top: 1em;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
	text-size: 17px;
	margin-top: 80px;
}

ul {
    list-style-type: none;
    line-height: 6em;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Arbutus Slab', serif;
}

}
	


/* MY SHIT */
.grid {
	padding-top: 4em;
	padding-bottom: 6em;
	padding-left: 14.5em;
	padding-right: 3em;
	display: grid;
	grid-template-columns: .25fr 336px;
	grid-gap: 1em;
}

.animalname {
	grid-column: 1/2;
}

h3 {
	font-size: 45px;
	line-height: 55px;
	font-family: 'Arbutus Slab', serif;
	text-align: right;
	padding-right: 0.5em;
}

.pagetitle {
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 30px;
}

/*START INFOPAGE*/ 

.infocontainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	padding: 1.5em;
	padding-right: 5em;
}

.name {
	font-family: 'Arbutus Slab', serif;
	font-size: 30px;
}

.image {
	grid-column: 1/2;
	padding-right: 2em;
}

.content {
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
	grid-column: 2/4;
	line-height: 35px;
}







