<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title goes here</title>
	<meta name="description" content="">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">
	
	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Arbutus+Slab" rel="stylesheet"> 
	
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:900" rel="stylesheet">


</head>
<body class="mainhomepage">
<!-- Change this classname for each page/type! -->

	<!-- Page content typically goes inside the container -->
	<div class="homecontainer">

        <!---
        <div class="homeimage">
            <img src="img/bison.png">
        </div> -->
        
        <div class="heading">
            <h1>National Park Service:</h1>
        </div>
        
        <div class="projecttitle">
            <h1>Animals of Appalachia</h1>
        </div>
        
        <div class="find">
            <h2>Find an Animal</h2>
        </div>
        
        <div class="links options">
            <ul>
               <li><a href="large.html">Large</a></li>
                <li><a href="medium.html">Medium</a></li>
                <li><a href="small.html">Small</a></li>
                <li><a href="forest.html">Forest</a></li>
                <li><a href="mesic.html">Mesic</a></li>
                <li><a href="mammal.html">Mammal</a></li>
                <li><a href="bird.html">Bird</a></li>
                <li><a href="amphibian.html">Amphibian</a></li>
                <li><a href="reptile.html">Reptile</a></li>
                <li><a href="predator.html">Predators</a></li>
                <li><a href="endangered.html">Endangered</a></li>
            </ul>
        </div>
        
        

	</div><!-- end container -->
	
</body>
</html>

