<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Medium Animals</title>
	<meta name="description" content="">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="css/sitewide.css">
	
	<!-- Webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body class="homepage">

<div class="container">
        
    <div class="pagetitle medanimals">
        <h1>Medium Animals</h1>
    </div>
    
    <div class="grid">
        
    <div class="animalimg">
        <img src="img/animalpic.png">    
    </div>
    
    <div class="animalname deer">
        <h3>White Tailed Deer</h3>    
    </div>
        
     <div class="animalimg">
        <img src="img/animalpic.png">    
    </div>
    
   
		

	</div>	

	</div>
	
</body>
</html>

